.popup {
    width:100%;
    min-height:100%;

    background-color: rgba(0,0,0,0.5);
    position:fixed;

    top:0;
    left: 0;

    z-index: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup h1 {
    text-align: center;
    font-size: 4rem;
    margin: 0;
}

.popup .wrapper {
    padding: 1rem;
    position: relative;

    overflow: auto;
    border-radius: 30px;
    background: linear-gradient(#22223b, #4a4e69);
    color: #c9d1d9;
    font-size: 1.5rem;
    min-width: 50%;
}

.username{
    display: none;
}

.popup .wrapper section {
    border: none;
}

.text{
    margin: 0 5%;
    width: 90%;

    font-size: 1.5rem;
    border: none;
    border-bottom: 0.2rem solid #c9d1d9;

    background: rgba(0, 0, 0, 0);
    color: #c9d1d9;
}

.text:focus {
    outline: none;
}

.popup .wrapper a {
    text-decoration: underline;
}

.submit-button {
    font-size: 1.5rem;
    border: 0;
    border-radius: 30px;
    padding: 1rem 2rem;
    margin: 1rem 5%;
}

.close-button {
    position: absolute;
    top: 1%;
    right: 0;
    left: 90%;

    padding: 0;

    background: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 30px;
}

.close-button img {
    width: 70%;
    height: 70%;
}

.close-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.controls{
    padding: 0 1.5rem;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-like-button{
    font-size: 1.5rem;
    border: none;
    background: transparent;
    text-decoration: underline;
    color: #c9d1d9;
}

.error-text{
    width: 100%;
    display: inline-block;
    text-align: center;
    color: red;
}