.items-in-center{
    display: flex;
    flex-direction: column;
    position: absolute;

    align-items: center;
    justify-content: center;

    min-width: 100% !important;
    min-height: 100%;
    margin: 0;

    z-index: -1;
}

.items-in-center section{
    min-width: 25rem;
    padding: 2.5rem;
}

.text-on-light{
    color: black !important;
    border-bottom: 0.1rem solid black !important;

    width: auto !important;
    margin: 0 !important;

    font-size: 1rem !important;
}

.bottom-buttons{
    display: flex;
    align-content: center;
    justify-content: space-between;

    margin-top: 2rem;
}

.bottom-buttons button{
    border: none;
    border-radius: 30px;
    padding: 1rem;
}

.red-button{
    color: white;
    background: red;
}
