body {
    margin: 0;
}

.nav-bar {
    padding: 7px 6px;
    background-color: deepskyblue;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.nav-logo img {
    width: 15vw;
}

nav {
    flex: 1;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.content-wrapper {
margin: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

.content{
    flex: 1;
    padding: 1rem;
    border-radius: 30px;
    background-color: deepskyblue;
}

.contacts-list{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.contacts-list li a img {
    width: 44px;
    height: 44px;
}